#files

gg.py
iterate_through_a_sublist_in_python.md
1040-notes.md
artur.py
aula04.py
henrique.py

#extras
1042.py
1098-revisao.py
onibus-2.py
preprova_0.py

#P1
1118-input.md
1118-output.md
1118.py
bloco-intervalo.py
bloco-teste.py
precedencia-X.py
problemas-prova.md
wtf-1118.py
recursao.py

#URI-VOAL
1172-monitoria.md